
{% extends 'store/layouts/main.html' %}
{% block content %}

         
          <table style="width:100%">
            <h1>3+ODDS</h1>
            <tr>
                <th>Time</th>
                <th>Game</th>
                <th>Results</th>
            </tr>
            <tr>
                <td>Jan 8 20:00PM</td>
                <td>Olympiakos vs Karmiotissa</td>
                <td>Not Played</td>
            </tr>
            <tr>
                <td>Jan 9 17:00PM</td>
                <td>Instanbul bas vs Adana</td>
                <td>Not Played</td>
            </tr>
            <tr>
                <td>Jan 9 12:30PM</td>
                <td>PSIS semarang vs Bhayongkara</td>
                <td>Not Played</td>
            </tr>
            <tr>
                <td>Jan 9 18:00PM</td>
                <td>Bibiani gold vs Adkana</td>
                <td>Not Played</td>
            </tr>
        </table>
            <br>
           
             <table style="width:100%">
                <br>
                <h2 color="geen">5+ODDS</h2>
            <tr>
                <th>Time</th>
                <th>Game</th>
                <th>Results</th>
            </tr>
            <tr>
                <td>Jan 8 20:00PM</td>
                <td>Olympiakos vs Karmiotissa</td>
                <td>Not Played</td>
            </tr>
            <tr>
                <td>Jan 9 17:00PM</td>
                <td>Instanbul bas vs Adana</td>
                <td>Not Played</td>
            </tr>
            <tr>
                <td>Jan 9 12:30PM</td>
                <td>PSIS semarang vs Bhayongkara</td>
                <td>Not Played</td>
            </tr>
            <tr>
                <td>Jan 9 23:00PM</td>
                <td>Athletic bilbao vs Osasuna</td>
                <td>Not Played</td>
            </tr>
            <tr>
                <td>Jan 9 23:00PM</td>
                <td>Huesca vs Albercete</td>
                <td>Not Played</td>
            </tr>
            <tr>
                <td>Jan 9 18:00PM</td>
                <td>Tondera vs Penafiel</td>
                <td>Not Played</td>
            </tr>
        </table>


            <marquee style="color:green;"> 0741***542 won 20000Ksh with stake of 2500 0706***560 won 17000 with a stake of 1800</marquee>
            

{% endblock content %}
