
{% extends 'store/layouts/main.html' %}
{% block content %}

         
          <table style="width:100%">
            <h1>3+ODDS</h1>
            <tr>
                <th>Time</th>
                <th>Game</th>
                <th>Prediction</th>
                <th>Our Predictions</th>
                <th>Game Results</th>
                <th>Total Odds</th>
            </tr>
            <tr>
                <td>Feb 22 1100</td>
                <td>Persija jakarta vs Barito putera</td>
                <td><a href="{% url 'modal' %}" class="row-link">Click to view</a></td>
                <td>1</td>
                <td>Not yet played</td>
            </tr>
            <tr>
                <td>Feb 22 2100</td>
                <td>Cottbus vs Chemie leipzig</td>
                <td><a href="{% url 'modal' %}" class="row-link">Click to view</a></td>
                <td>1DNB</td>
                <td>Not yet played</td>
            </tr>
            <tr>
                <td>Feb 22 1400</td>
                <td>Churchill Brothers vs Kenkre</td>
                <td><a href="{% url 'modal' %}" class="row-link">Click to view</a></td>
                <td>1X</td>
                <td>Not yet played</td>
            </tr>
            <tr>
                <td>Feb 22 1930</td>
                <td>Olimpija vs ND Gorica </td>
                <td><a href="{% url 'modal' %}" class="row-link">Click to view</a></td>
                <td>1</td>
                <td>Not yet played</td>
            </tr>
            <tr>
                <td>Feb 22 16:30</td>
                <td>Cape town vs Tshakhuma Tsha</td>
                <td><a href="{% url 'modal' %}" class="row-link">Click to view</a></td>
                <td>1</td>
                <td>Not yet played</td>
            </tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
            <td>3.83</td>
        </table>
        
        <h1>Betpawa booking code 98959A7</h1>

{% endblock content %}
            